NEXT_PUBLIC_SUPABASE_URL=https://oardxsdiwaxmpomxhfls.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=***configurado***
SUPABASE_SERVICE_ROLE_KEY=***configurado***
NEXT_PUBLIC_SITE_URL=https://app.planopratico.shop
